/* https://www.behance.net/gallery/213484911/Dashboard-UIUX-design?tracking_source=search_projects|strava+ui+ux&l=4 */
:root {
  font-size: 16px;
  font-family: 'Open sans';
  /* Initial color scheme
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;

  --highlight-primary: #df49a6;
  --highlight-secondary: #ff7eee;

  --green-primary: #3b9b37;
  --green-secondary: #4caf50;

    --bg-primary: #23232e;
  --bg-secondary : #141418;
  --bg-tertiary: #faf7ed;
  --bg-quaternary: #fcfbfc;

  --svg-nav: #f1ede7; */

  --text-primary: #D3D9D4;
  --text-secondary: #ececec;

  --highlight-primary: #5ce2d9;
  --highlight-secondary: #45A29E;

  --green-primary: #27a222;
  --green-secondary: #38d03d;

  --bg-primary: #212A31;
  --bg-secondary: #2E3944;
  --bg-tertiary: #dae6eb;
  --bg-quaternary: #a4c8d7;

  --transition-speed: 600ms;
  --coins: #efc800;
  --svg-nav: #c5e8e5;

  overflow-x: hidden;
  /* Removes horizontal scrollbar when route animating */
}

/* h1,
h2,
p {
  color: white;
} */

body {
  color: black;
  /* background-color: var(--bg-quaternary); */
  background: linear-gradient(0.25turn, var(--svg-nav), var(--bg-quaternary),  var(--svg-nav));
  /* background: linear-gradient(0.25turn, var(--bg-secondary), rgb(27, 34, 38),  var(--bg-primary)); */
  margin: 0;
  padding: 0;
  text-align: justify;
  text-justify: inter-word;
}

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: var(--bg-secondary);
}

body::-webkit-scrollbar-thumb {
  background: linear-gradient(var(--bg-secondary), var(--text-primary), var(--bg-secondary));
}

section {
  margin-left: 5rem;
  padding: 3rem;
  /* Was 1rem initially 13/2/25 */
}

.grey-border {
  border: solid, medium, var(--bg-primary);
  border-radius: 10px;
  padding: 10px;
  margin-left: -10px;
  margin-right: -10px;
  margin-bottom: 10px;
  overflow: auto;
  background: var(--bg-tertiary);
  /* background: radial-gradient(var(--bg-tertiary), var(--bg-quaternary)); */
  /* rgba(226, 218, 190, 0.5); */
}

.text-center {
  text-align: center;
}

.text-justify {
  text-justify: inter-word;
}

.example-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  border: solid, medium, var(--bg-primary);
  border-radius: 10px;
}

hr {
  border: none;
  border-top: 3px solid var(--bg-primary);
  border-radius: 5px;
}

a {
  text-decoration: none;
  color: var(--highlight-primary);
}

/* -- Body components -- */

/* logo header for top of body components */
.logo-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  max-height: 4rem;
  padding-left: 0;
}

.logo-header-header {
  flex-grow: 2;
  flex-shrink: 1;
  flex-basis: 0;
  text-align: center;
}

/* .logo-header-empty {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
} */

.logo {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
  text-align: center;
}

.logo svg {
  width: 4rem;
  min-width: 4rem;
  height: 4rem;
  min-height: 4rem;
}

/* Most ul's are for flex -> specify for points with class="disc-list" */
ul {
  list-style: none;
}

.disc-list {
  list-style: disc;
}

/* Small screens */
@media only screen and (max-width: 600px) {
  section {
    margin-left: 0;
    /* Fixes empty left margin on screen */
  }
}

/* Debugging and to do's */
.to-fix {
  color: red;
}

button {
  color: var(--text-secondary);
  background-color: var(--bg-primary);
  border-radius: 20px;
  border-style: solid;
  padding: 5px;
  transition: padding 300ms ease
}

button:hover {
  background-color: var(--bg-secondary);
  padding: 10px;
  transition: padding 300ms ease;
}

/* Cards section styling */
.cards {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  gap: 1.5rem;
  margin-bottom: 2rem;
}

.card {
  background-color: #fff;
  border-radius: 1rem;
  padding: 1rem;
  width: 20rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  transition: box-shadow 300ms ease;
}

.card:hover {
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
  transition: box-shadow 300ms ease;
}

.card-icon {
  font-size: 2rem;
  max-height: 5rem;
  margin-bottom: 10px;
}

.card-text {
  font-size: 1rem;
  text-align: center;
}