/* https://www.behance.net/gallery/213484911/Dashboard-UIUX-design?tracking_source=search_projects|strava+ui+ux&l=4 */
:root {
  font-size: 16px;
  font-family: 'Open sans';
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
  --transition-speed: 600ms;
}

body {
  color: black;
  background-color: #fcfbfc;
  margin: 0;
  padding: 0;
  text-align: justify;
  text-justify: inter-word;
}

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: var(--bg-secondary);
}

body::-webkit-scrollbar-thumb {
  background: linear-gradient(var(--bg-secondary), var(--text-secondary), var(--bg-secondary));
}

section {
  margin-left: 5rem;
  padding: 3rem; /* Was 1rem initially 13/2/25 */
}

.grey-border {
  border: solid, medium, var(--bg-primary); 
  border-radius: 10px;
  padding: 10px;
  margin-left: -10px;
  margin-right: -10px;
  margin-bottom: 10px;
  overflow: auto;
  background-color: #faf7ed; /* rgba(226, 218, 190, 0.5); */
}

.text-center {
  text-align: center;
}

.text-justify {
  text-justify: inter-word;
}

.example-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  border: solid, medium, var(--bg-primary);
  border-radius: 10px;
}

hr {
  border: none;
  border-top: 3px solid var(--bg-primary);
  border-radius: 5px;
}

a {
  text-decoration: none;
  color: #df49a6;
}

/* -- Body components -- */

/* logo header for top of body components */
.logo-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 4rem;
  min-width: 4rem;
  height: 4rem;
  min-height: 4rem;
}

/* Most ul's are for flex -> specify for points with class="disc-list" */
ul {
  list-style: none;
}

.disc-list {
  list-style: disc;
}

/* Small screens */
@media only screen and (max-width: 600px) {
  section {
    margin-left: 0; /* Fixes empty left margin on screen */
  }
}

/* Debugging and to do's */
.to-fix {
  color: red;
}